<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stock Search</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/stock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<body>

<!-- Header -->
<div class="search-container hide" >
  <h1 class="title">Stock Search</h1>
  <div class="search-box-container">
      <img src="/static/img/search-solid.svg" class="search-icon" alt="Search" onclick="searchStock()">
      <input type="text" class="search-box" id="searchInput" placeholder="Enter Stock Ticker Symbol">
      <div class="clear-icon-container">
          <img src="/static/img/times-solid.svg" class="times-icon" alt="Clear">
      </div>
  </div>
</div>

<!-- Tab -->
<div id="tabs" class="tab-controls" style="display: none;">
  <button class="tab-button"  onclick="openTab('company')">Company</button>
  <button class="tab-button"  onclick="openTab('summary')">Stock Summary</button>
  <button class="tab-button"  onclick="openTab('charts')">Charts</button>
  <button class="tab-button"  onclick="openTab('latest-news')">Lastest News</button>
</div>

<!-- Company Tab -->
<div class="tab" id="company" style="display: none;">
  <div class="company-profile">
    <img alt="Company Logo" class="company-logo" id="companyLogo">
    <div class="detail">
        <strong>Company Name</strong> <span id="companyName">N/A</span>
    </div>
    <div class="detail">
        <strong>Stock Ticker Symbol</strong> <span id="stockSymbol">N/A</span>
    </div>
    <div class="detail">
        <strong>Stock Exchange Code</strong> <span id="exchangeCode">N/A</span>
    </div>
    <div class="detail">
        <strong>Company Start Date</strong> <span id="startDate">N/A</span>
    </div>
    <div class="detail">
        <strong>Category</strong> <span id="category">N/A</span>
    </div>
  </div>
</div>

<!-- Stock Summary Tab -->
<div class="tab" id="summary" style="display: none;">
  <div class="stock-summary">
    <!-- Stock Summary details -->
    <div class="detail">
      <strong>Stock Ticker Symbol</strong> <span id="tickerSymbol">N/A</span>
    </div>
    <div class="detail">
      <strong>Trading Day</strong> <span id="tradingDay">N/A</span>
    </div>
    <div class="detail">
      <strong>Previous Closing Price</strong> <span id="closingPrice">N/A</span>
    </div>
    <div class="detail">
      <strong>Opening Price</strong> <span id="openingPrice">N/A</span>
    </div>
    <div class="detail">
      <strong>High Price</strong> <span id="highPrice">N/A</span>
    </div>
    <div class="detail">
      <strong>Low Price</strong> <span id="lowPrice">N/A</span>
    </div>
    <div class="detail">
      <strong>Change</strong> <span id="change">N/A</span>
      <img id="changeImg" src="" alt="Change Indicator" style="height:20px;">
    </div>
    <div class="detail">
      <strong>Change Percent</strong> <span id="changePercent">N/A</span>
      <img id="changePercentImg" src="" alt="Change Percent Indicator" style="height:20px;">
    </div>
    
    <!-- Recommendation Trends Section -->
    <div class="recommendation-trends">
      <div class="trends">
        <div class="side-label left">
          <div class="side-label-text">Strong</div>
          <div class="side-label-text">Sell</div>
        </div>
        <div class="trend strong-sell">
          <span class="trend-count" id="strongSell"></span>
        </div>
        <div class="trend sell">
          <span class="trend-count" id="sell"></span>
        </div>
        <div class="trend hold">
          <span class="trend-count" id="hold"></span>
        </div>
        <div class="trend buy">
          <span class="trend-count" id="buy"></span>
        </div>
        <div class="trend strong-buy">
          <span class="trend-count" id="strongBuy"></span>
        </div>
        <div class="side-label right"> 
          <div class="side-label-text">Strong</div>
          <div class="side-label-text">Buy</div>
        </div>
      </div>
      <h3>Recommendation Trends</h3>
    </div>  
  </div> 
</div> 

  <!-- Chart Tab -->
  <div class="tab" id="charts" style="display: none;">
    <div id="chart" style="width: 500px; height: 300px;"></div>
  </div>

<!-- Latest News Tab -->
<div class="tab" id="latest-news" style="display: none;">
  <div class="news-container">
  </div>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>
