<div class="container">
  <div class="p-1 rounded">
    <div class="col-12 col-sm-7 py-3 mx-auto">
      <h1 class="display-5 fw-normal text-center">STOCK SEARCH</h1>
      <div class="input-group mb-3 w-100">
        
        <input class="form-control form-control-lg search-input" placeholder="Enter stock ticker symbol" aria-label="Search"
               (ngModelChange)="onSearch($event)" #searchword control-id="ControlID-3" 
               (keyup.enter)="searchClick(searchword.value)" matInput [formControl]="myControl" [matAutocomplete]="auto">
        
        <button class="btn btn-outline-primary" type="button" (click)="searchClick(searchword.value)">
          <i class="fa fa-search"></i>
        </button>

        <button class="btn btn-outline-secondary" type="button" (click)="clearSearchInput()">
          <i class="fa fa-times"></i>
        </button>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngIf="autocLoading === true">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </mat-option>
          <span *ngIf="autocLoading === false">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </span>
        </mat-autocomplete>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>