.custom-margin {
  padding-left: 1rem;
  padding-top: 3rem;
}

.container {
  max-width: 750px;
}

.card-container .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 10;
}
  
.card-container .card-title,
.card-container .card-text {
    margin-left: 2rem;
}

.no-underline {
    text-decoration: none;
} 